.data-table-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid #ccc;
}

.header {
  font-weight: bold;
  background-color: #f0f0f0;
}

.table-row > div {
  flex: 1;
  padding: 4px;
  word-break: break-word; 
  min-width: 0; 
}
.empty-data-message{
  align-items: center;
  text-align: center;
  color: blue;
  font-weight: 800;
  font-size: 18px;
}